body{
    font-family: 'Noto Serif', serif;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
#skip-color{
    color: orange;
}
section{
    display: flex;
}
.half-width{
    width: 50%;
    padding: 4%;
}
.half-width img{
    width: 90%;
}
a{
    text-decoration: none;
    border-radius: 5px;
    background-color: rgb(255, 153, 0);
    padding: 10px;
    color: white;
}